# Lab 4

- Name:
- USC Id:

### 1. Gene expression cancer RNA-Seq

Package Imports

In [13]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import CategoricalNB

# ===== Optional : import other libraries here ===== #

# ===== End of Optional : import other libraries here ===== #

#### Problem (a) Load the files data.csv and labels.csv

- They contain the Data Set from: https://archive.ics.uci.edu/dataset/401/gene+expression+cancer+rna+seq

- data.csv contains the genetic features for each tumor and labels.csv contains the label of each tumor. After loading the datasets, combine the data sets into a single dataframe.

In [14]:
data = None

# ===== Read the data.csv file ===== #
data = pd.read_csv('data.csv', index_col=0)
# ===== End of reading data.csv file ===== #

In [15]:
data.head()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
sample_1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0
sample_2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,0.0,...,5.125213,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0
sample_3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,0.0,...,6.076566,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0
sample_4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,0.0,...,5.996032,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0

In [16]:
labels = None
# ===== Read the labels.csv file ===== #
labels = pd.read_csv('labels.csv', index_col=0)

# ===== End of readsing labels.csv file ===== #

In [17]:
labels.head()

         Class
sample_0  PRAD
sample_1  LUAD
sample_2  PRAD
sample_3  PRAD
sample_4  BRCA

In [18]:
print('Class label counts:')
labels.value_counts()

Class label counts:

Class
BRCA     300
KIRC     146
LUAD     141
PRAD     136
COAD      78
Name: count, dtype: int64

In [19]:
# Test 1 (a) 
print(data.shape)
print(labels.shape)
assert(data.shape == (801, 20531))
assert(labels.shape == (801,1))

print('Test 1 (a) Passed.')

(801, 20531)
(801, 1)
Test 1 (a) Passed.

### Problem 1 (b): Exploratory data analysis
- Select the first 640 instances as the training set and the rest of the data as the test set.
- Encode the classes as follows BRCA = 0, KIRC = 1, COAD = 2, LUAD = 3, and PRAD = 4. You can use Ordinal Encoder.

In [20]:

training_data, training_class = None, None
test_data, test_class = None, None

# ===== split data and labels into test and train ===== #
training_data = data.iloc[:640]
test_data = data.iloc[640:]
training_class = labels.iloc[:640]
test_class = labels.iloc[640:]


# ===== End of split data and labels into test and train ===== #

# ===== Use Ordinal Encoder to encode the classes ===== #
training_data = OrdinalEncoder().fit_transform(training_data)
test_data = OrdinalEncoder().fit_transform(test_data)

# ===== End of Use Ordinal Encoder to encode the classes ===== #

In [21]:
test_data

array([[  0., 151., 145., ...,  96., 119.,   0.],
       [  0., 155., 120., ..., 157.,   8.,   0.],
       [  1.,  67.,  50., ..., 104., 145.,   0.],
       ...,
       [  0.,  77., 111., ...,  69.,  63.,  11.],
       [  0.,  53.,  58., ..., 150.,  94.,   0.],
       [  0.,  38., 117., ..., 117.,  60.,   0.]])

In [22]:
# Test 1 (b)
print(training_data.shape)
print(test_data.shape)
print(training_class.shape)
print(test_class.shape)
assert(training_data.shape[0] == 640 and training_data.shape[1] == 20531)
assert(test_data.shape[0] == 161 and test_data.shape[1] == 20531)
assert(training_class.shape[0] == 640)
assert(test_class.shape[0] == 161)

print(f"Test 1 (b) Passed")

(640, 20531)
(161, 20531)
(640, 1)
(161, 1)
Test 1 (b) Passed

In [37]:
training_class

           Class
sample_0    PRAD
sample_1    LUAD
sample_2    PRAD
sample_3    PRAD
sample_4    BRCA
...          ...
sample_635  LUAD
sample_636  LUAD
sample_637  BRCA
sample_638  BRCA
sample_639  BRCA

[640 rows x 1 columns]

In [38]:
test_class

           Class
sample_640  PRAD
sample_641  BRCA
sample_642  BRCA
sample_643  KIRC
sample_644  LUAD
...          ...
sample_796  BRCA
sample_797  LUAD
sample_798  COAD
sample_799  PRAD
sample_800  PRAD

[161 rows x 1 columns]

### Problem 1 (c) Classification using Gaussian Naive Bayes

- Use sklearn’s Gaussian Naive Bayes method to build a classifier based on training data. Report the training misclassification error rate (the percentage of training data that are misclassified)

- Use sklearn’s Gaussian Naive Bayes method to classify test data, using the model you developed in 1(c). Report test misclassification error rate (the percentage of training data that are misclassified).

In [40]:
# ===== Train Gaussian NB model ===== #
model = GaussianNB()
model.fit(training_data, training_class)

# ===== End of Train Gaussian NB model ===== #


# ===== Use the model to predict labels for the training data ===== #
training_predictions = model.predict(training_data)
training_misclassification_rate = np.mean(training_predictions != training_class.values.ravel())
# ===== End of Use the model to predict labels for the training data ===== #
print(f">>> Gaussian NB")
print(f"Training Misclassification Rate: {training_misclassification_rate}")

/opt/homebrew/anaconda3/envs/py312/lib/python3.12/site-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

>>> Gaussian NB
Training Misclassification Rate: 0.0015625

In [41]:
test_misclassification_rate = None

# ===== Use the model to predict labels for the test data ===== #
test_predictions = model.predict(test_data)
test_misclassification_rate = np.mean(test_predictions != test_class.values.ravel())

# ===== End of Use the model to predict labels for the test data ===== #

print(f">>> Gaussian NB")
print(f"Test Misclassification Rate: {test_misclassification_rate}")

>>> Gaussian NB
Test Misclassification Rate: 0.2795031055900621

### Ploblem 1 (d): Classification using Bernoulli Naive Bayes

- Calculate the median of each of the gene features. Binarize the features: any feature greater or equal than the median of that feature must be converted to 1 and any feature less than or equal to the median must be converted to zero. (5 pts)

- Use sklearn’s Bernoulli Na ̈ıve Bayes method with Laplace Smoothing To build a classifier based on binarized training data. Report the training misclassification error rate (the percentage of training data that are misclassified). (20 pts)

- Use sklearn’s Bernoulli Na ̈ıve Bayes method to classify test data, using the model you developed in 1(d)ii. Report test misclassification error rate (the percentage of training data that are misclassified). (20 pts)

In [64]:
binarized_data = None
binarized_training_data = None
binarized_test_data = None

# ===== Calculate the medians for each feature in the trainind data and binarize the values for each column  ===== #

medians = np.median(data, axis=0) + 1e-10 #avoid median = 0, that all columns will be 1
print(medians)
binarized_training_data = (training_data >= medians).astype(int)
binarized_test_data = (test_data >= medians).astype(int)

# Convert to DataFrame for easier handling (optional, but matches the expected format)
binarized_training_data = pd.DataFrame(binarized_training_data, 
                                     columns=[f'gene_{i+1}' for i in range(training_data.shape[1])])
binarized_test_data = pd.DataFrame(binarized_test_data, 
                                 columns=[f'gene_{i+1}' for i in range(test_data.shape[1])])

# ===== End of Calculate the medians for each feature and binarize the values for each column  ===== #

[1.00000000e-10 3.14368728e+00 3.12700588e+00 ... 9.56651076e+00
 5.21861845e+00 1.00000000e-10]

In [65]:
binarized_training_data.head()

,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,gene_10,...,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530,gene_20531
0,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
1,0,0,1,1,1,0,1,0,0,0,...,1,0,1,1,0,1,1,1,1,0
2,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,0,1,1,1,0
3,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
4,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0

In [66]:
binarized_test_data

,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,gene_10,...,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530,gene_20531
0,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
1,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,0,1,1,1,0
3,0,1,1,1,0,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
4,0,1,1,1,1,0,1,0,0,0,...,1,0,1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,0
157,0,1,1,1,1,0,1,0,0,0,...,1,1,1,1,1,1,1,1,1,0
158,0,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
159,0,1,1,1,1,0,1,0,0,0,...,1,1,1,1,1,1,1,1,1,0
160,0,1,1,1,1,0,1,0,0,0,...,1,1,1,1,1,1,1,1,1,0

In [67]:
print(len(binarized_training_data['gene_1'].value_counts()))
assert (binarized_training_data.shape == (640,20531))
assert (binarized_test_data.shape == (161,20531))
assert (len(binarized_training_data['gene_1'].value_counts()) == 2)
print('Test Passed')

2
Test Passed

In [72]:
# ===== Train Bernoulli NB model ===== #
# Train Bernoulli Naïve Bayes classifier with Laplace smoothing (alpha=1 by default)
model = BernoulliNB(alpha=1.0)
model.fit(binarized_training_data, training_class.values.ravel() )




# ===== End of Train Bernoulli NB model ===== #

training_misclassification_rate = None

# ===== Use the model to predict labels for the training data ===== #
training_preds = model.predict(binarized_training_data)
training_misclassification_rate = np.mean(training_preds != training_class.values.ravel())


# ===== End of Use the model to predict labels for the training data ===== #

print(f">>> Bernoulli NB")
print(f"Training Misclassification Rate: {training_misclassification_rate}")

>>> Bernoulli NB
Training Misclassification Rate: 0.0015625

In [73]:
test_misclassification_rate = None

# ===== Use the model to predict labels for the test data ===== #
test_preds = model.predict(binarized_test_data)
test_misclassification_rate = np.mean(test_preds != test_class.values.ravel())

# ===== End of Use the model to predict labels for the test data ===== #

print(f">>> Bernoulli NB")
print(f"Test Misclassification Rate: {test_misclassification_rate}")

>>> Bernoulli NB
Test Misclassification Rate: 0.024844720496894408

### 2. Extra Credit: Categorical Naive Bayes

Create 10 equally spaced bins between the maximum and minimum of each feature in the training set and convert the features to categorical training data using those bins. Convert the test data based on the bins you calculated for training data into categorical features.

In [33]:
# binned_training_data = pd.DataFrame()
# binned_test_data = pd.DataFrame()

# Hint: Use np.linpsace to create bin boundaries and pd.cut to segregate data into the bins
# ===== For each feature create 10 bins using the training data and convert test and train data into categorical values  ===== #


    
# ===== End of For each feature create 10 bins using the training data and convert test and train data into categorical values  ===== #

In [34]:
# ===== Train Categorical NB model ===== #



# ===== End of Train Categorical NB model ===== #

In [35]:
# training_misclassification_rate = None

# ===== Use the model to predict labels for the training data ===== #



# ===== End of Use the model to predict labels for the training data ===== #

# print(f">>> Categorical NB")
# print(f"Training Misclassification Rate: {training_misclassification_rate}")

In [36]:
# test_misclassification_rate = None

# ===== Use the model to predict labels for the test data ===== #


# ===== End of Use the model to predict labels for the test data ===== #

# print(f">>> Categorical NB")
# print(f"Test Misclassification Rate: {test_misclassification_rate}")